/project/checklist/checklist-log/target/
/project/checklist/checklist-persistence/target/
/project/checklist/checklist-business/target/
/project/checklist/checklist-service/target/
/project/checklist/checklist-ear/target/